# Statistics Test Project

In this project we will use basic Python and statistical knowledge to analyze some movies ratings (2016-2017) to determine if an apparent problem in an online movie ratings aggregator called "Fandango" was already fixed after a data journalist (Walt Hickey) noticed that the website was rounding up the movie's ratings. The incident happened in october of 2016 and the website said it was not intentional and was caused by a bug and they would fix it.

So lets make some test using the data and see what we find.

In [1]:
import pandas as pd

#pd.options.display.max_columns = 100

In [2]:
old_data = pd.read_csv("fandango_score_comparison.csv")
new_data = pd.read_csv("movie_ratings_16_17.csv")

We will use 2 datasets. 

The "old_data" is the original data used by Walt Hickey when he discovered the issues with the rating system in 2015. 

The "new_data" is the data related to movies from 2016 and 2017 from the same website (Fandango), and we will use it to compare the old and new data to see if the issue seems to be resolved.

In [3]:
print(old_data.describe())
print(old_data.info())

       RottenTomatoes  RottenTomatoes_User  Metacritic  Metacritic_User  \
count      146.000000           146.000000  146.000000       146.000000
mean        60.849315            63.876712   58.808219         6.519178
std         30.168799            20.024430   19.517389         1.510712
min          5.000000            20.000000   13.000000         2.400000
25%         31.250000            50.000000   43.500000         5.700000
50%         63.500000            66.500000   59.000000         6.850000
75%         89.000000            81.000000   75.000000         7.500000
max        100.000000            94.000000   94.000000         9.600000

             IMDB  Fandango_Stars  Fandango_Ratingvalue     RT_norm  \
count  146.000000      146.000000            146.000000  146.000000
mean     6.736986        4.089041              3.845205    3.042466
std      0.958736        0.540386              0.502831    1.508440
min      4.000000        3.000000              2.700000    0.250000
25%      6.300000        3.500000              3.500000    1.562500
50%      6.900000        4.000000              3.900000    3.175000
75%      7.400000        4.500000              4.200000    4.450000
max      8.600000        5.000000              4.800000    5.000000

       RT_user_norm  Metacritic_norm         ...            IMDB_norm  \
count    146.000000       146.000000         ...           146.000000
mean       3.193836         2.940411         ...             3.368493
std        1.001222         0.975869         ...             0.479368
min        1.000000         0.650000         ...             2.000000
25%        2.500000         2.175000         ...             3.150000
50%        3.325000         2.950000         ...             3.450000
75%        4.050000         3.750000         ...             3.700000
max        4.700000         4.700000         ...             4.300000

       RT_norm_round  RT_user_norm_round  Metacritic_norm_round  \
count     146.000000          146.000000             146.000000
mean        3.065068            3.226027               2.972603
std         1.514600            1.007014               0.990961
min         0.500000            1.000000               0.500000
25%         1.500000            2.500000               2.125000
50%         3.000000            3.500000               3.000000
75%         4.500000            4.000000               4.000000
max         5.000000            4.500000               4.500000

       Metacritic_user_norm_round  IMDB_norm_round  \
count                  146.000000       146.000000
mean                     3.270548         3.380137
std                      0.788116         0.502767
min                      1.000000         2.000000
25%                      3.000000         3.000000
50%                      3.500000         3.500000
75%                      4.000000         3.500000
max                      5.000000         4.500000

       Metacritic_user_vote_count  IMDB_user_vote_count  Fandango_votes  \
count                  146.000000            146.000000      146.000000
mean                   185.705479          42846.205479     3848.787671
std                    316.606515          67406.509171     6357.778617
min                      4.000000            243.000000       35.000000
25%                     33.250000           5627.000000      222.250000
50%                     72.500000          19103.000000     1446.000000
75%                    168.500000          45185.750000     4439.500000
max                   2375.000000         334164.000000    34846.000000

       Fandango_Difference
count           146.000000
mean              0.243836
std               0.152665
min               0.000000
25%               0.100000
50%               0.200000
75%               0.400000
max               0.500000

[8 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 22 columns):
FILM                          146 non-null object
RottenTomatoes                146 non-null int64
RottenTomatoes_User           146 non-null int64
Metacritic                    146 non-null int64
Metacritic_User               146 non-null float64
IMDB                          146 non-null float64
Fandango_Stars                146 non-null float64
Fandango_Ratingvalue          146 non-null float64
RT_norm                       146 non-null float64
RT_user_norm                  146 non-null float64
Metacritic_norm               146 non-null float64
Metacritic_user_nom           146 non-null float64
IMDB_norm                     146 non-null float64
RT_norm_round                 146 non-null float64
RT_user_norm_round            146 non-null float64
Metacritic_norm_round         146 non-null float64
Metacritic_user_norm_round    146 non-null float64
IMDB_norm_round               146 non-null float64
Metacritic_user_vote_count    146 non-null int64
IMDB_user_vote_count          146 non-null int64
Fandango_votes                146 non-null int64
Fandango_Difference           146 non-null float64
dtypes: float64(15), int64(6), object(1)
memory usage: 25.2+ KB
None

In [4]:
print(new_data.describe())
print(new_data.info())

              year   metascore        imdb      tmeter    audience  \
count   214.000000  214.000000  214.000000  214.000000  214.000000
mean   2016.107477   53.266355    6.440654   53.621495   58.626168
std       0.310444   17.843585    1.030056   30.242396   21.100040
min    2016.000000   11.000000    3.500000    0.000000   11.000000
25%    2016.000000   39.000000    5.825000   27.000000   43.250000
50%    2016.000000   53.500000    6.500000   56.500000   60.500000
75%    2016.000000   66.000000    7.200000   83.000000   76.750000
max    2017.000000   99.000000    8.500000   99.000000   93.000000

         fandango  n_metascore      n_imdb    n_tmeter  n_audience  \
count  214.000000   214.000000  214.000000  214.000000  214.000000
mean     3.894860     2.663318    3.220327    2.681075    2.931308
std      0.516781     0.892179    0.515028    1.512120    1.055002
min      2.500000     0.550000    1.750000    0.000000    0.550000
25%      3.500000     1.950000    2.912500    1.350000    2.162500
50%      4.000000     2.675000    3.250000    2.825000    3.025000
75%      4.500000     3.300000    3.600000    4.150000    3.837500
max      5.000000     4.950000    4.250000    4.950000    4.650000

       nr_metascore     nr_imdb   nr_tmeter  nr_audience
count    214.000000  214.000000  214.000000   214.000000
mean       2.658879    3.214953    2.691589     2.915888
std        0.924619    0.526803    1.519273     1.060352
min        0.500000    2.000000    0.000000     0.500000
25%        2.000000    3.000000    1.500000     2.000000
50%        2.500000    3.000000    3.000000     3.000000
75%        3.500000    3.500000    4.000000     4.000000
max        5.000000    4.000000    5.000000     4.500000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 15 columns):
movie           214 non-null object
year            214 non-null int64
metascore       214 non-null int64
imdb            214 non-null float64
tmeter          214 non-null int64
audience        214 non-null int64
fandango        214 non-null float64
n_metascore     214 non-null float64
n_imdb          214 non-null float64
n_tmeter        214 non-null float64
n_audience      214 non-null float64
nr_metascore    214 non-null float64
nr_imdb         214 non-null float64
nr_tmeter       214 non-null float64
nr_audience     214 non-null float64
dtypes: float64(10), int64(4), object(1)
memory usage: 25.2+ KB
None

In [5]:
old_data.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [6]:
new_data.head()

,movie,year,metascore,imdb,tmeter,audience,fandango,n_metascore,n_imdb,n_tmeter,n_audience,nr_metascore,nr_imdb,nr_tmeter,nr_audience
0,10 Cloverfield Lane,2016,76,7.2,90,79,3.5,3.80,3.60,4.50,3.95,4.0,3.5,4.5,4.0
1,13 Hours,2016,48,7.3,50,83,4.5,2.40,3.65,2.50,4.15,2.5,3.5,2.5,4.0
2,A Cure for Wellness,2016,47,6.6,40,47,3.0,2.35,3.30,2.00,2.35,2.5,3.5,2.0,2.5
3,A Dog's Purpose,2017,43,5.2,33,76,4.5,2.15,2.60,1.65,3.80,2.0,2.5,1.5,4.0
4,A Hologram for the King,2016,58,6.1,70,57,3.0,2.90,3.05,3.50,2.85,3.0,3.0,3.5,3.0

In [7]:
old_dataset = old_data[["FILM", "Fandango_Stars", "Fandango_Ratingvalue", 
                        "Fandango_votes", "Fandango_Difference"]].copy()
new_dataset = new_data[["movie", "year", "fandango"]].copy()

After checking the content from both the old and new data, we selected some of the most relevants fields in the dataset and saved them as new datasets to work with.

In [8]:
old_dataset.head()

,FILM,Fandango_Stars,Fandango_Ratingvalue,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),5.0,4.5,14846,0.5
1,Cinderella (2015),5.0,4.5,12640,0.5
2,Ant-Man (2015),5.0,4.5,12055,0.5
3,Do You Believe? (2015),5.0,4.5,1793,0.5
4,Hot Tub Time Machine 2 (2015),3.5,3.0,1021,0.5

In [9]:
new_dataset.head()

                     movie  year  fandango
0      10 Cloverfield Lane  2016       3.5
1                 13 Hours  2016       4.5
2      A Cure for Wellness  2016       3.0
3          A Dog's Purpose  2017       4.5
4  A Hologram for the King  2016       3.0

Analysis in progress...